# netbeans project files
nbproject

# Mac DS_Store Files
.DS_Store
config.json.bak

# app runtime files
/runtime

# ------------------------------------------
# Exception : mainly used for empty folder
# ------------------------------------------
!.gitignore
